* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product_id {
    background-image: linear-gradient(to top, rgba(80,68,18, 0.5) 10%, transparent), url("./images/we.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 10%;
    bottom: 20%;
    width: 100%;
    height: 530px;
    padding: 10px;
}

.section-title {
    color: green;
    font-family: inherit;
    text-align: center;
}

#product_id h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: darkgreen;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan__annotation{
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.plan_features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan_features li{
    margin: 8px 0;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #555555;
}


.plan--highlighted .plan__price {
    color: darkkhaki;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan__list {
    width: 80%;
    margin: auto;
}


/* Modal */
.modal {
    position: fixed;
    /*display: none;*/
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.modal__title {
    text-align: center;
}

.modal__actions {
    text-align: center;
}

.modal__actions {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
}

.modal__action {
    text-align: center;
    border: 1px solid #0e4f1f;
    background: red;
    text-decoration: none;
    color: white;
    font: inherit;
}

.button {
    background: darkgreen;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover,
.button:active
{
    background: white;
    color: darkgreen;
}

.button:focus {
    outline: none;
}

#key-features {
    background: indianred;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-feature_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}

h1 {
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_brand {
    color: darkorange;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height: 22px;
    display: inline-block;
}

.main-header_brand img {
    height: 100%;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item{
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #2e2e2e;
}

.main-nav__item a:hover,
.main-nav__item a:active
{
    transition: color 500ms ease-in-out;
    color: whitesmoke;
}

.main-nav__item--cta a {
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 8px;
}


.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: darkred;
    background-color: white;
    border: none;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover {
    border-bottom: 1px solid red;
}

