* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.background {
    background: url("./images/img1.jpeg");
    filter: grayscale(30%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#product_id {
    background-image: url("images/we.jpeg");
    background-size: cover;
    width: 100%;
    height: 530px;
    padding: 10px;
}

.section-title {
    color: green;
    font-family: inherit;
    text-align: center;
}

#product_id h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: darkgreen;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan__annotation{
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.plan_features {
    list-style: none;
    margin: 0;
    padding: 0;
}


.plan_features li{
    margin: 8px 0;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #555555;
}


.plan--highlighted .plan__price {
    color: darkkhaki;
}

.plan--highlighted .plan__title {
    color: white;
}

.button {
    background: darkgreen;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover,
.button:active
{
    background: white;
    color: darkgreen;
}

.button:focus {
    outline: none;
}

#key-features {
    background: indianred;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-feature_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}

h1 {
    font-family: sans-serif;
}

/* Mobile navigation */
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}


.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2ddf5c;
    padding: 8px 16px;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}


.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}


.main-header_brand {
    color: darkorange;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item{
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active
{
    transition: color 500ms ease-in-out;
    color: whitesmoke;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 8px;
}


.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active
{
    color: darkred;
    background-color: white;
    border: none;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover {
    border-bottom: 1px solid red;
}

main {
    padding-top: 32px;
}

.package {
    width: 80%;
    margin: 16px 0;
    border: 4px solid green;
    border-left: none;
    position: relative;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454 !important;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__badge {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    font-size: 12px;
    color: white;
    background: red;
    padding: 8px;
}

.package__subtitle {
    color: #979797;
}

.package__info{
    padding: 16px;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: darkgreen;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 245, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;

}

/*#free:hover,*/
/*#free:active {*/
/*    border-left-color: red;*/
/*}*/


#premium {
    background: rgba(24, 49, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

.open {
    display: block !important;
}

